 @font-face {
    font-family: 'gotham';
    src: url("Gotham.otf");
 }

 @font-face {
    font-family: 'circular';
    src: url("circular-std-2.ttf");
 }

a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary {
    font-family: 'circular';
    color: #333;
    background-color: #fff;
    text-shadow: none;
    border: .05rem solid #fff;
    transition: transform 250ms ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
  transform: scale(1.09);
}


html,
body {
  height: 100%;
  background-color: #333;
}

.text-1 {
    font-family: 'gotham';
    color:rgb(101, 210, 95);
}

.text-2 {
    font-family: 'gotham';
    color:rgb(231, 132, 11);
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .05);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.header {
  margin-bottom: 2rem;
}

.header-top {
  margin-bottom: 0;
}

.nav-bar .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  /* justify-content: space-around; */
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-bar .nav-link:hover,
.nav-bar .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-bar .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-bar .active {
  color: #fff;
  border-bottom-color: #fff;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.footer {
  color: rgba(255, 255, 255, .5);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    height: 'viewport';
    padding: 10px;
}

.rating-box {
    border: solid #fff;
    border-radius: 18px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'gotham';
}

.image-container {
    text-align: center;
}