@font-face {
    font-family: 'gotham';
    src: url("Gotham.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

nav {
    height: 70px;
    background: #2a2929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding: 0px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px
}

nav a:hover {
    color: darkgray;
}

.heading {
    background: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    height: 'viewport';
    padding: 10px;
}

.text-1 {
    font-family: 'gotham';
    color:rgb(101, 210, 95);
}

.text-2 {
    font-family: 'gotham';
    color:rgb(231, 132, 11);
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    color: black;
    padding: 0;
}

.left-column h1 {
    margin: 15px;
    font-size: 50px;
}

.left-column p {
    margin: 18px;
    font-size: 20px;
    line-height: 1;
}

button {
    margin: 18px;
    padding: 11px;
    font-size: 20px;

    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: none;
    color: white;
    background: black;
    cursor: pointer;

    transition: transform 133ms ease-in-out;
}

button:hover {
    background: rgb(101, 210, 95);
    color: rgb(0, 0, 0);

    transform: scale(1.2);
}

.rating-box {
    border: 1px solid #000;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'gotham';
}

.form-group {
    margin-top: 20px;
}

.image-container {
    text-align: center;
}

.image-container img {
    display: inline-block;
}